$color-primary: hsl(300, 43%, 22%); //Very Dark Magenta
$color-secondary: hsl(333, 80%, 67%);//Soft Pink

$color-grey-dark:hsl(303, 10%, 53%);// Dark Grayish Magenta: 
$color-grey-light:hsl(300, 24%, 96%);// Light Grayish Magenta: 
$color-white:hsl(0, 0%, 100%);// White: 