.card {
  width: 100%;
  margin: 2rem auto;
  padding: 4rem;
  background-color: $color-primary;
  color: $color-white;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  &__text {
    color: $color-white;
    font-size: 1.2rem;
  }

  @include respond(desktop) {
    margin: 2rem;
    &:first-child {
      transform: translateY(-10%);
    }
    &:last-child {
      transform: translateY(10%);
    }
  }
}
.user {
  display: grid;
  grid-template-columns: min-content 1fr;
  grid-template-rows: repeat(2, min-content);
  grid-row-gap: 0.5rem;
  grid-column-gap: 2rem;
  margin-bottom: 1.5rem;
  &__icon {
    grid-row: 1/-1;
    @include square-shape(4rem);
    border-radius: 50%;
  }
}
